* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: rgb(55, 55, 255);
  --color-secundary: rgb(122, 122, 255);
  --color-black: black;
  --color-white: rgb(207, 207, 207);
  /*------------------------------------------------------*/
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color : rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

p {
  color: var(--color-white);
}

body {
  background: linear-gradient(90deg, rgb(13,17,23) 0%, rgb(22,27,34) 100%);
  padding: 0 1rem;
}

header {
  background-color: rgb(22,27,34);
}

header,
.hero-section,
.curses-section,
footer {
  border-color: var(--color-white);
  border-style: solid;
  border-width: 0 1px 1px 1px;
  padding: 1.25rem;
}

header img {
  display: block;
  margin: 1rem auto;
}

header nav {
  display: flex;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  margin: 1rem auto 0;
}

nav a {
  color: var(--text-color);
  font-size: 1.25rem;
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 8px;
}

header nav a:hover {
  background: var(--highlight-color);
  border: 1px solid var(--stroke-color);
}

/*header nav a :nth-child(2n-1) pegar elementos impares, ou seja, 2-1 {
  text-align: right;
}*/

/*.button {
  background-color: var(--color-primary);
  border: 2px solid var(--color-black);
  box-shadow: 4px 4px 0 var(--color-black);
  color: var(--color-black);
  display: block;
  font-size: 1.25rem;
  padding: 0.75rem 1rem;
  max-width: 14rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}*/

/*-----------------------------Alterações------------------------------------*/
.color-icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
ul {
  list-style: none;

  display: flex;
  flex-direction: column;

  padding: 24px 0;
}

.space-icon {
  margin: 0.5rem;
  color: var(--text-color);
}

.a-icon {
  text-decoration: none;
  font-weight: 500;
  color: var(--text-color);
}

ul li {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  transition: background 0.2s;
}

/* pseudo-selector */
ul li:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/* social links */
.color-icon {
  color: var(--text-color);
}

#social-links {
  display: flex;
  justify-content: center;

  padding: 24px 0;

  font-size: 24px;
}

#social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background .2s;
  border-radius: 50%;

}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 24px 0;

  font-size: 14px;

  border-bottom: 0;
  padding: 1rem 1.25rem 4rem;
}

footer nav a {
  display: block;
  padding-left: 0;
}

/*-----------------------------------------------------------------*/

.hero-section {
  padding-right: 0;
  padding-bottom: 16rem;
}

.hero-section img {
  display: block;
  margin: 1.25rem 0 0 auto;
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  line-height: 105%;
  color: var(--color-white);
}

h2 {
  font-size: 2.5rem;
  color: var(--color-white);
}

.hero-section {
  font-size: 1.25rem;
  padding-right: 1.25rem;
}

.curses-section {
  padding-bottom: 8rem;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.25rem;
  margin-top: -8rem;
  margin-bottom: 4rem;
}

.card {
  background-color: var(--color-primary);
  border: 2px solid var(--color-black);
  box-shadow: 4px 4px 0 var(--color-black);
  max-width: 17rem;
  padding: 2rem 0 0 2rem;
}

.card:nth-child(2n) {
  align-self: end;
  background-color: var(--color-secundary);
}

.card strong {
  display: block;
  font-size: 1.5rem;
  margin: 1rem 0
}

.card a {
  display: block;
  margin: 3rem 0 0 auto;
  width: fit-content;
}



.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-primary {
  color: var(--color-primary)
}

.text-center {
  text-align: center;
}

.t-avatar {
  width: 10%;
}

.p-icon {
  width: 50%;
  margin: -10;
}

/*Desktop-Reponsividade*/

@media screen and (min-width: 40rem) {
  header nav {
    display: block;
    text-align: center;
  }
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card:nth-child(2n) {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 48rem) {
  header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header img,
  hearder nav,
  header .button {
    margin: 0;
  }
}

@media screen and (min-width: 72rem){
  h1, h2 {
    font-size: 4rem;
  }

  .container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 72rem;
  }

  .container .row-reverse {
    flex-direction: row-reverse;
  }

  .about-column {
    flex: 2;
  }

  .about-column a {
    font-size: 1.25rem;
    max-width: 16rem;
  }

  footer nav {
    flex: 1;
  }

  .newsletter-form {
    flex: 3;
  }
}

@media screen and (min-width: 90rem) {
  .container {
    max-width: 80rem;
  }
}